.dropdown-wrapper {
    display: flex;
    flex-flow: column;
    align-content: space-between;
  
    position: absolute;
    background-color: #fff;
    border: 1px solid black;
    height: auto;
    width: 100%;
    left: 0;
    top: 50px;
    height: 428px;
  }
  .content-img-wrapper {
    width: 100%;
    display: flex;
    flex-flow: row;
    margin: 20px;
    padding: 0;
    justify-content: space-around;
  }
  .content-img-wrapper .section {
    width: 25%;
  }
  .content-img-wrapper .section hr {
    width: 200px;
    background-color: grey;
  }
  .content-img-wrapper .section {
    height: 75%;
    margin-top: 40px;
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  .content-img-wrapper .section h3 {
    font-weight: 100;
    margin: 0;
  }
  .content-img-wrapper ul {
    margin: 0;
    display: flex;
    flex-flow: column;
  }
  .content-img-wrapper ul li {
    margin-top: 10px;
  }
  .dropdown-wrapper h1 {
    position: absolute;
    margin: 0;
    left: 28%;
    top: 10px;
  }
  .dropdown-wrapper img {
    width: 530px;
    height: 356px;
    background-color: #e6e6e6;
    border: 1px solid black;
    padding: 4px;
    border-radius: 20px;
    object-fit: cover;
  }
  .dropdown-wrapper button {
    position: relative;
    left: 28%;
    bottom: 25px;
    width: 110px;
    padding: 8px;
    background-color: rgb(80, 188, 221);
    color: #fff;
    border: none;
    border-radius: 5px;
  }
  .dropdown-wrapper button:hover {
    cursor: pointer;
  }
  