.services-wrapper {
    height: 100%;
  min-height: 100vh;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
.services-wrapper .services-content-wrapper {
   
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.services-content-wrapper ul {
    
    display: flex;
    flex-flow: column;
    align-items: center;
}
.services-content-wrapper ul li {
    margin: 15px;
}
.services-category-wrapper {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.services-category-wrapper .category-wrapper {
    border: 1px solid black;
    width: 45%;
    margin-bottom: 30px;
}
.category-wrapper h3 {
    margin-left: 10px;
}

