.accesories-single{
    width: 25%;
    margin: 30px 40px;
    border: 1px solid black;
    display:flex;
    flex-flow:column;
    align-content:space-between ;

}
.accesories-single img {
    width: 100%;
}