.home-wrapper {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    
}
.upper-part-home {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}
.home-content-wrapper {
    width: 40%;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-left:22px;
}
.home-content-wrapper h2 {
    margin: 0;
    margin-top: 28px;
}
.home-image-wrapper {
    width: auto;
    margin-top: 70px;
}
.home-image-wrapper img {
    width: 560px;
    height: 450px;
    padding:10px;
    border: 2px solid black;

}
.home-slider-wrapper {
    width: 80%;
}
.down-part-home {
    width: 100%;
    

}
.slider-framework{
    width: 70%;
    height: 450px;
    margin: 40px auto;
    display: flex;
    flex-flow: row;
    border: 2px solid black;
}
.main-framework {
    margin: 20px auto;
    width: 90%;
    background-color: rgb(196, 207, 41);
    border: 10px outset#dbdd2e;
    text-align: center;
}