@media all and (max-width: 600px ) {
    .navigation-wrapper {
        height: 55px;
    }
    .drop-lines-responsive {
        right: 10px;
        top: 6px;
    }
    .clothes-single,.accesories-single {
        width: 60%;
    }
    .contacts-wrapper {
        width: 90%;
        margin: 25px auto;
    }
    .content-contact-wrapper {
        width: 60%;
    }
    .content-contact-wrapper ul {
        margin: 0;
    }
    .content-contact-wrapper ul li {
        font-size: 20px;
    }
    .nav-mobile {
        border-bottom: 1px solid #000;
    }
   
    .footer-wrapper ul {
        flex-flow: column;
        margin-left: 25%;
        margin-top: 20px;
      }
      .footer-wrapper ul li {
        margin: 3px ;
      }
}