@media all and (max-width: 1024px) {
  
  .upper-part-home {
    margin-bottom: 30px;
    width: 100%;
  }
  .navigation-wrapper {
    height: 63px;
  }
  .navigation-wrapper a {
    font-size: 18px;
  }
  .navigation-wrapper .right-part-navigation {
    position: unset;
  }
  .logo-wrapper {
    height: 120px;
  }
  .logo-wrapper img {
    width: 100px;
    height: 100px;
    margin-top: 5px;
  }
  .logo-wrapper .first-part-logo {
    font-size: 30px;
  }
  .logo-wrapper h1 {
    top: 4px;
  }
  .dropdown-wrapper {
    border-left: none;
    border-right: none;
  }
  .dropdown-wrapper img {
    width: 430px;
    height: 350px;
    margin-right: 30px;
    margin-top: 15px;
  }
  .dropdown-wrapper h1 {
    left: 17%;
  }
  .content-img-wrapper .section {
    margin-top: 55px;
    font-size: 20px;
  }
  .dropdown-wrapper .close-button {
    bottom: 50px;
    left: 23%;
    font-size: 20px;
    padding: 10px;
  }
  .upper-part-home {
    flex-flow: column;
    align-items: center;
  }
  .home-content-wrapper {
    margin: 0;
    width: 80%;
  }
  .home-content-wrapper h2 {
    margin-top: 15px;
  }
  .home-content-wrapper p {
    margin-bottom: 0;
    font-size: 22px;
  }
  .home-image-wrapper {
    margin-top: 30px;
    text-align: center;
    width: 100%;
  }
  .home-image-wrapper img {
    width: 75%;
    height: auto;
  }
  .new-slider-container {
    display: none;
    margin-top: 50px;
    margin-bottom: 55px;
    width: 76%;
    height: 100%;
  }

  .new-slider-container .left-direction {
    left: 13%;
  }
  .slider-mobile-wrapper {
    display: block;
    margin-bottom: 30px;
    width: 100%;
  }
  .swiper-container {
    width: 78%;
  }
  .img-wrapper {
    border: 2px solid black;
    padding: 12px;
  }
  .single-img {
    min-width: 100%;
    transform: translateX(0%);
  }
  .new-slider-container i {
    color: black;
    font-size: xxx-large;
  }
  .clothes-single,
  .accesories-single {
    width: 35%;
  }

  .clothes-single img,
  .accesories-single img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .contacts-wrapper {
    flex-flow: column;
    align-items: center;
    min-height: 80vh;
  }
  
  .img-container{
    width: 90%;
  }
}

