
.contacts-wrapper {
    background-color: #e6e6e6;
    border: 1px solid #000;
    margin: 41px auto; 
    width: 70%;
    
   
    justify-content: space-around;
}
.contacts-wrapper h1 {
    margin: 0;
    margin-top: 10px;
}

.content-contact-wrapper {
    width:45%;
    margin: 11% auto;
    display: flex;
    flex-flow: column;
    
}
.content-contact-wrapper section {
    margin-bottom: 15px;
    height: 100%;
}
.content-contact-wrapper ul{

    display: flex;
    flex-flow: column;
    margin: 0;
    padding: 0;
    list-style: none;
    

}
.content-contact-wrapper ul li {
    margin-top: 15px;
    font-size: 16px;
}
.content-contact-wrapper ul hr {
    width: 200px;
    background-color: grey;
}
.content-contact-wrapper section p {
    margin: 0;
}
.img-container{
    width: 42%;
   margin: 11% auto;
}
.img-container img {
    width: 100%;
    padding: 5px;
    border: 1px solid #000;
}

